unpackaged/main/default/flows/debug_ISF_778.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getAddressDeliverability</name>
        <label>getAddressDeliverability</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetAddressDeliverability</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>debug_secondScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>houseNo</name>
            <value>
                <elementReference>houseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>zipcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>addressIsValidated</assignToReference>
            <name>addressIsValidated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>edition</assignToReference>
            <name>edition</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hupDownTime</assignToReference>
            <name>hupDownTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>date</assignToReference>
            <name>nextDeliveryDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>product</assignToReference>
            <name>product</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>body</assignToReference>
            <name>responseBody</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>AddressValidator Debug</description>
    <environments>Default</environments>
    <interviewLabel>debug_ISF_778 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>debug_ISF_778</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>debug_AddressValidator</name>
        <label>debug_AddressValidator</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAddressDeliverability</targetReference>
        </connector>
        <fields>
            <name>AddressNotValid</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 11, 11);&quot;&gt;The address is not valid&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>addressIsValidated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addressValidatorDebug</name>
            <extensionName>c:addressValidator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNo</name>
                <value>
                    <elementReference>houseNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>streetName</name>
                <value>
                    <elementReference>street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipcode</name>
                <value>
                    <elementReference>zipcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>salutation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>lastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skipHouseNo</name>
                <value>
                    <elementReference>skipHouseNo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioBoxValue</name>
                <value>
                    <elementReference>Person_Company</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>company</name>
                <value>
                    <elementReference>company</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postBox</name>
                <value>
                    <elementReference>postBox</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postBoxRequired</name>
                <value>
                    <elementReference>postBoxRequired</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>city</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>firstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>houseNumber</assignToReference>
                <name>houseNo</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>salutation</assignToReference>
                <name>salutation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>street</assignToReference>
                <name>streetName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>zipcode</assignToReference>
                <name>zipcode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Person_Company</assignToReference>
                <name>radioBoxValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>postBox</assignToReference>
                <name>postBox</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>postBoxRequired</assignToReference>
                <name>postBoxRequired</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>skipHouseNo</assignToReference>
                <name>skipHouseNo</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>company</assignToReference>
                <name>company</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_secondScreen</name>
        <label>debug_secondScreen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debugInv</name>
            <fieldText>&lt;p&gt;Address is validated: {!addressIsValidated}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;HUP Downtime: {!hupDownTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Response: {!body}&lt;/p&gt;&lt;p&gt;Status: {!code}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next delivery Date: {!date}&lt;/p&gt;&lt;p&gt;Edition: {!edition}&lt;/p&gt;&lt;p&gt;{!product}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>debug_AddressValidator</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>addressIsValidated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>code</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ch</stringValue>
        </value>
    </variables>
    <variables>
        <name>date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>houseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hupDownTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Person_Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postBoxRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skipHouseNo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
